# Environment variables
.env

# Docker volumes
containers/gitea/gitea/
containers/gitea/postgres/

# OpenTofu / Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Ansible
**/inventory/hosts.json
/tmp/ansible_facts_cache/

node_modules/

# Build outputs
**/build/
**/dist/