networks:
  gitea:
    external: false

services:
  server:
    image: docker.gitea.com/gitea:1.25.2
    container_name: gitea
    environment:
      - USER_UID=${USER_UID:-1000}
      - USER_GID=${USER_GID:-1000}
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=db:5432
      - GITEA__database__NAME=${POSTGRES_DB:-gitea} # CHANGEME
      - GITEA__database__USER=${POSTGRES_USER:-gitea} # CHANGEME
      - GITEA__database__PASSWD=${POSTGRES_PASSWORD:-gitea} # CHANGEME
    restart: unless-stopped
    networks:
      - gitea
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    depends_on:
      - db

  db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-gitea} # CHANGEME
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-gitea} # CHANGEME
      - POSTGRES_DB=${POSTGRES_DB:-gitea} # CHANGEME
    networks:
      - gitea
    volumes:
      - ./postgres:/var/lib/postgresql/data