networks:
  neo4j:
    external: false

services:
  server:
    image: neo4j:5.28.0
    container_name: neo4j
    environment:
      - NEO4J_AUTH=${NEO4J_USER:-neo4j}/${NEO4J_PASSWORD:-neo4j} # CHANGEME
      - NEO4J_PLUGINS=${NEO4J_PLUGINS:-["apoc", "graph-data-science"]}
      - NEO4J_server_memory_heap_initial__size=${NEO4J_HEAP_INITIAL:-512m}
      - NEO4J_server_memory_heap_max__size=${NEO4J_HEAP_MAX:-1G}
      - NEO4J_server_memory_pagecache_size=${NEO4J_PAGECACHE:-512m}
    restart: unless-stopped
    networks:
      - neo4j
    volumes:
      - ./data:/data
      - ./logs:/logs
      - ./import:/var/lib/neo4j/import
      - ./plugins:/plugins
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "7474:7474"  # HTTP
      - "7687:7687"  # Bolt
